@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #100f20;
  --background: #e6cbbf;
  --underline: #ae445a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #e6cbbf;
    --background: #100f20;
    --underline: #ae445a;
  }
}

body {
  color: var(--text);
  background-color: var(--background);
}

.sideways-underline::after {
  content: '';
  position: absolute;
  z-index: -10;
  bottom: -0.25rem;
  left: -1%;
  right: 0;
  height: 0.75rem; /* This controls the "thickness" of the underline */
  background-color: var(--underline); /* Use the text color for the underline */
  opacity: 1;
  transform: rotate(-2deg); /* Rotate the underline to make it sideways */
  transform-origin: bottom left; /* Pivot from the bottom left */
  width: 103%; /* Match the length of the text */
  transition: 0.5s ease-in-out; /* Animate the width change */
}

.sideways-underline:hover::after {
  bottom: -0.5rem; /* Move the underline down */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
